@import "general.css";

  body{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: dana;
  
  } 
/* .container_download{
    display: flex;
    flex-direction: column;
} */
a,a:hover,a:focus{
  cursor: pointer;
  color: unset;
  text-decoration: none;

  }
/* section1 start */


.section1_download{
  display: flex;
  padding:3% 0 8%;
  margin: 0 5%;
  border-bottom:1px solid #ddd;
  

}
.download_desktop_img{
  display: none;
  width: 45%;
  /* margin-top: 5%; */
  /* background-color: var(--color--orange); */
  position: relative;
  
}
ul{
  list-style: none;
}
ul>li>img{
  /* display: block; */
  position: absolute;
  border-radius: 12px;
  box-shadow: 0 12px 25px 0 rgb(0 0 0 / 26%);
}
.img1_download{
  width: 216px;
  height: 384px;
  left: 100px;
  top: 20px;
  z-index:13 ;
}
.img3_download{
  width: 180px;
  height: 300px;
  left: 200px;
  top:45px;
  z-index: 12;
  left:-2;
}
.img2_download{
  width: 120px;
  height: 220px;
  left: 300px;
  top:80px;
  z-index: 11;
}
.download_content{
  width: 750px;
  padding: 0 5%;
  margin: auto;
}
.download_header{
  font-size: 22px;
  margin-bottom: 2%;
  text-align: center;
}
.download_subheader{
  color: var(--color--text--content);
  margin-bottom: 2%;
  font-size: 17px;
  text-align: center;
}
.header_links{
  /* text-align: center; */
  /* max-width: 50px; */
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: lighter;
}
.download_content_links{
    display: flex;
    /* background-color: aquamarine; */
}
.links{
    display: flex;
    flex-direction: column;
    /* background-color:#4d4d4d ; */
    width: 100%;
    gap:8px;

}
.link_download{
    background-color: var(--primary--textcolor);
    color: var(--color--white);
    border-radius: 5px;
    display: flex;
    height: 50px;
    /* justify-content: center; */
    align-items: center;
    /* font-size:14px; */
}
.bg-white{
  background-color: var(--color--white);
  border: 1px solid black;
}
.black{
  color: var(--primary--textcolor);
}
.link:hover{
  background-color: #38b87c;
  color:var(--color--white);
}
.content_link{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:var(--color--white) ;
    padding-right: 12px;
    width: 100%;
}

.p-r{
  padding-right: 0;
}
.content_link>div{
  display:flex;
  align-items: center;

}
.content_link>div>p{
  font-size: 10px;
}
.download_content_p>p{
  font-size: 16px;
  text-align: center;
  color: var(--color--text--content);
  margin-top: 30px;

}
.link_download_content_p{
  font-size: 16px;
}
@media only screen and (min-width:767px){
  .download_header{
    text-align: right;
  }
  .download_subheader{
    text-align: right;
  }
  .download_content_p{
    text-align: right;
  }
  .download_content_links{
    justify-content: space-between;
  }
  .links{
    width: 48%;
  }
  .content_link>div>p{
    font-size: 14px;
  }
  .download_content_p>p{
    font-size: 18px;
    text-align: right;

  
  }
  .link_download_content_p{
    font-size: 18px;
  }

} 
@media only screen and (min-width:992px){
  .download_desktop_img{
    display: block;

  }
  .container_download{
    background-image: linear-gradient(90deg,#ff7422 24%,#ff5722);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    height: 500px;
    /* min-width: 1170px; */
  }
  .download_content{
    width: 65%;
    padding:0 3%;
  }


}
/* section1 end */


.takeTapsi{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.takeTapsiContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding: 50px 0;
  margin: 0 auto;
}

.pTapsi{
  font-size: 24px;
  margin: 25px 0;
}

.videoBoxWrapper{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.videoContainer video{
  width: 100%;
}

.phoneTapsi{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.webTapsi{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pImage{
  width: 46px;
  
}

.pTitle{
  margin-bottom: 25px;
}

.pTitle h3{
  font-size: 25px;
  color: #333;
  margin: 10px 0;
}

.pTitle h4{
  font-size: 12px;
  color: #9b9b9b;
}

.pDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 40px;
}

.pDescription p{
  height: 130px;
  overflow: hidden;
}

.linkWrapper1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  color: #fff;
  background-color: #ff5722;
  padding: 10px 15px;
  border-radius: 3px;
  max-width: 175px;
  text-align: center;
}

.videoBoxContainer{
  width: 100%;
  background-color: #f8f8f9;
}

.rightOne h2{
  font-size: 24px;
  color: #333;
  margin: 20px;
}

.videoDesc{
  text-align: center;
}

.videoDesc h3{
  font-size: 20px;
  color: #333;
}

.videoDesc p{
  font-size: 16px;
  color: #979797;
  margin-bottom: 10px;
}

@media only screen and (min-width: 767px) {
  
.takeTapsi{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.takeTapsiContainer{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 90%;
  margin: 50px 0;
}

.rightParagraph{
  display: flex;
  justify-content: center;
  margin-left: 25px;
  width: 33.3333%;
}

.pTapsi{
  font-size: 25px;
}

.pImage{
  width: 50px;
  margin-left: 20px;
}

.webTapsi{
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  height: 100%;
  margin-left: 25px;
}

.pTitle{
  display: flex;
  flex-direction: row;
}

.pTitle h3{
  font-size: 28px;
  color: #333;
  margin-bottom: 12px;
}

.pTitle h4{
  font-size: 11px;
  color: #9b9b9b;
}

.pDescription{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 30px;
  text-align: justify;
}

.pDescription p{
  font-size: 15px;
  font-weight: 100;
}



.linkWrapper1{
  font-size: 15px;
  color: #fff;
  background-color: #ff5722;
  padding: 10px 15px;
  border-radius: 3px;
  max-width: 150px;
  text-align: center;
}

.phoneTapsi{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 33.3333%;
  margin-left: 25px;
}

.videoBoxContainer{
  background-color: #f8f8f9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.videoBoxWrapper{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 90%;
  margin: 50px 0;
  gap: 15px;

}

.videoContainer{
  width: 100%;
  height: 240px;
}

.videoContainer video{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.videoDesc h3{
  font-size: 20px;
  color: #333;
  margin: 15px 0;
}

.videoDesc p{
  color: #9b9b9b;
  font-size: 16px;
}

.rightOne{
  width: 33.3333%;
}

.middleOne{
  width: 33.3333%;
}

.leftOne{
  width: 33.3333%;
}

.rightOne h2{
  font-size: 25px;
}

}
