.footer{
    font-size: 14px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
    background-color: #000;
    color: #fff;
}

.footerContainer{
    display: flex;
    flex-direction: column;
}

.footerContainer h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.brandContainer{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    margin: 12px auto;
}

.brandContainer h3{
    font-size: 12px;
    color: #acacac;
}

.footer_logo{
    height: 30px;
    margin-bottom: 10px;
}

.crMobile{
    color: #acacac;
    display: flex;
    padding-top: 20px;
}

.cr{
    display: none;
}

.footerColumn{
    display: flex;
    flex-direction: column;
    margin: 12px 0 12px 0;
}

.footerColumn a:hover{
    color: #ff5722;
}

.link{
    color: #fff;
    text-decoration: none;
}

.trust{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.trustLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
    max-width: 120px;
    margin-left: 10px;
    /*mobile*/
    height: auto;
}

.trustLogo img{
    width: 100%;
}

.socialMedias{
    margin-top: 15px;
}

.socialMedias h3{
    display: none;
}

.socialLinks{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
}

@media only screen and (min-width: 767px) {
    .footer{
        padding: 5% 10%;
    }
    
    .footerContainer{
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .brandContainer{
        margin:0 0 0 20px;
        width: 15%;
    }
    
    .crMobile{
        display: none;
    }
    
    
    .cr{
        display: block;
        font-size: 12px;
    }
    
    .footerColumn{
        margin-left: 20px;
    }
    
    .trust{
        align-items: center;
        justify-content: center;
        max-width: 26%;
        width: 26%;
    }
    .trustLogo{
        height: 100%;
    }
    .crMobile{
        display: none;
    }
    
    .socialMedias{
        margin-top: 15px;
    }
    
    .socialMedias h3{
        display: block;
        font-size: 14px;
        font-weight: 100;
    }
    
    .socialLinks{
        display: flex;
        justify-content: flex-start;
        margin: 0;
    }
    
    .socialLinks a{
        margin-left: 15px;
    }
}