@import url(general.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 62.5%;
    font-family: dana,yekan;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.main__container a{
    color: var(--color--text--content);
    font-size:var(--medium-fontsize) ;
}
.main__container a:hover{
    color: var(--color--orange);
}
.main__tapsidownload a:hover{
    color:var(--color--white);
}
.button{
    display: flex;
    width: 218px;
    height: 55px;
    font-weight: 500;
    background-color:var(--color--orange);
    border-radius: 12px;
    margin-top:2%;
    justify-content: center;
    align-items: center;
}

.main__header{
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
}
.main__container{
    width: 100%;
    background-color:var(--color--background--header);
}
.main__header__tools{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 55px;
    border: 1px solid var(--color--border--bottom);
}
/*burgermenu */
.mobile__burgermenu{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: var(--color--background--header);
}
.burger__menu_item{
    padding: 10px;
}
/* tablet */
.d-none{
    display: none;
}
@media screen and (min-width:766px){
    .mobile__burgermenu{
        display: none;
    }
    .main__bergurmenu_icon{
        display: none;
    }
    .main__header_tablet{
        display: flex;
        align-items: center;
        width:auto
    }
    .header__tablet_items{
        display: flex;
        font-size: var(--medium-fontsize);
    }
    .tablet_item{
        padding:0 12px;
    }
}
/*desktop */
@media screen and (min-width:991px){
    .main__header__tools{
        justify-content: space-around;
    }
    .header__tablet_items{
        align-items: center;
        padding-right: 70px;
    }
    .tablet_item{
        padding-left: 20px;
    }
    .main__tapsidownload{
        display: flex;
        width: auto;
    }
    .main__tapsidownload a{
        color:var(--color--white);
        background-color: var(--color--orange);
        border-radius: 8px;
        padding: 7px 40px;
    }
}
/* streetimage */
.homepage__streetimage{
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}
.homepage__streetimage_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
}
.streetimage_downloadapp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.downloadapp_items{
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid var(--color--background--header);
    text-align: center;
    display: flex;
    align-items: center;
    width: 24rem;
}
.homepage__streetimage_content h1,h3{
    color: var(--color--border--bottom);
    width: 35rem;
    margin-left: 28%;
    padding-right: 0;
    margin-top: 1%;
}
.homepage__streetimage_content h3{
    font-size: var(--large-fontsize);
    margin-bottom: 4%;
    font-weight: 300;
}
.homepage__streetimage_content h1{
    font-size: var(--xlarge-fontsize);
    margin-top: 5%;
}
.streetimage_downloadapp a{
    display: inline-block;
    padding: 15px;
    font-size: var(--medium-fontsize);
    color: var(--primary--textcolor);
}
.style_firstline{
    background-color: var(--color--background--header);
}
.style_secondline a{
    color: var(--color--background--header);
}
/* icon */
.streetimage_icons{
    margin-right: 5%;
}
@media screen and (max-width:767px){
    .homepage__streetimage{
        background-image: url(../images/banner-mobile.jpg);
        background-repeat: no-repeat;
        justify-content: center;
    }
    .homepage__streetimage_content{
        margin: 50px 0;
        padding:30px 18px;
        width: 32rem;
    }
    .homepage__streetimage_content h3{
        font-size: var(--medium-fontsize);
        font-weight: 600;
        padding-bottom: 8%;
    }
    .homepage__streetimage_content h1{
        font-size: var(--large-fontsize);
        font-weight: bold;
    }
}
@media screen and (min-width:767px){
    .homepage__streetimage{
        height: 40rem;
        background-image: url(../images/banner.jpg);
        align-items: center;
        padding-right: 8%;
        position: relative;
    }
    .homepage__streetimage_content{
        width: 52rem;
        height: 30rem;
    }
    .streetimage_downloadapp{
        justify-content: space-around;
        margin-bottom: 11%;
    }
}
@media screen and (min-width:1025px){
    .homepage_mobileimage{
        position: absolute;
        left:10%;
        top:20%;
        background-image: url(../images/mockup-phone.png);
        background-size: cover;
        width: 40rem;
        height: 50rem;
    }
}
/* tapsi service */
.side-space{
    padding-right:5%;
}
.tapsi__services{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}
.tapsi__services_items{
    overflow-x: scroll;
    display: flex;
    width: 100%;
    padding-bottom:4%;
}
.tapsi__services h1{
    font-size: var(--large-fontsize);
    padding-bottom: 5%;
}
.tapsi__services_content h2{
    font-weight: 600;
    font-size: var(--medium-fontsize);
    padding-top:3%;
}
.cars__item img{
    width: 10rem;
    height:auto;
}
.cars__item p{
    text-align: center;
    font-size: var(--small-fonsize);
}
.description__tapsi_service{
    display: flex;
    margin:3% 7%;
    border-bottom:1px solid var(--color--border--bottom);
}
.tapsi__services_content p{
    font-size: var(--small-fonsize);
}
.under-space{
    padding-bottom:8%;
}
@media screen and (min-width:767px){
    .tapsi__services{
        padding-right:7%;
    }
    .tapsi__services_items{
        width:85%;
        overflow-x: hidden;
        justify-content:space-around;
    }
    .tapsi__services h1{
        font-size: var(--xlarge-fontsize);
        padding-top:5%;
    }
    .description__tapsi_service{
        padding-right:5%;
    }
    .tapsi__services_content h2{
        font-size: var(--large-fontsize);
    }
    .tapsi__services_content p{
        font-size: var(--mid--fontsize);
        line-height: 2;
    }
    .cars__item p{
        font-size: var(--medium-fontsize);
    }
    .tapsi__services_content{
        width:50%;
    }
    .big__car{
        display:flex;
        width: 50%;
    }
    .big__car img{
        width: 80%;
        height: 100%;
    }
}
/* Special services for businesses */
.main__special_services{
    padding-top:5%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.picture_mac{
    display: flex;
    width:90%;
}
.picture_mac img{
    width:100%;
    height:100%;
    padding-right:5%;
}
.mac-book{
    padding-left:10%;
}
.main__special_content{
    width:100%;
}
.main__special_content h1{
    font-size: var(--large-fontsize);
    margin:7% 0;
}
.main__special_content p{
    font-size: var(--medium-fontsize);
    color: var(--color--text--content);
}
.special_link{
    display: flex;
    align-items: center;
}
.special_link a{
    padding:4% 1%;
    color: var(--color--orange);
    font-size:var(--mid--fontsize);
}
.mac-link{
    font-size:var(--mid--fontsize);
    color:var(--color--white);
}
@media screen and (min-width:767px){
    .same-position{
        flex-direction:row-reverse;
    }
    .dif-position{
        flex-direction: row;
    }
    .same-sizepicture{
        width:50%;
    }
    .main__special_content{
        width:50%;
        padding-bottom:12%;
        padding-right:7%;
    }
    .main__special_content h1{
        font-size:var(--xlarge-fontsize);
    }
    .main__special_content p{
        font-size: var(--mid--fontsize);
        padding-left:12%;
    }
}

/* tehranimage */
.section_tehranimage{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:50%;
    margin-top:5%;
    background-image:url(../images/parallax.jpeg);
    background-size:cover;
}
.tehranimage__title{
    display:flex;
    text-align:center;
    align-items: center;
    padding:3% 0;
    flex-wrap:wrap;
    width:80%;
    height:50%;
}
.hidden_homepage{
    display: none;
}
.show_hidden:hover + .hidden_homepage{
    display:flex;
}
.tehranimage__title p,h3{
    font-size:var(--mid--fontsize);
    color:var(--color--white);
}
.tehranimage__title h3{
    font-weight:900;
    padding-right:15%;
}
@media screen and (min-width:767px) {
    .section_tehranimage{
        flex-direction: row;
        padding:5%;
    }
    .borderleft_homepage{
        display: block;
        border-left:2px solid white; 
        height:100px;
    }
    .tehranimage__title{
        width:25%;
    }
}


/* tapsi for derivers */
.tapsi__drivers{
    align-items:flex-start;
}
.advantage__image{
    width:100%;
}
.advantage__image img{
    width:70%;
    height:50%;
    margin-right:10%;
    border-radius:15px;
}
.drivers_club , .advantage__internet_taxi h1,h2{
    font-size:var(--mid--fontsize);
    padding-bottom:4%;
}
.advantage__internet_taxi h2,p,li{
    color:var(--color--text--content);
}
.advantage__internet_taxi p,li{
    font-size: var(--medium-fontsize);
    line-height:2.5;
}
.advantage__internet_taxi{
    padding:3%;
    flex-direction:column;
}
.advantage__internet_taxi h2{
    font-weight:200;
}
.advantage_button{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
}
.advantage_button .button{
    background-color:#0065dc;
}
.advantage_button a{
    color:var(--color--white);
}
.advantage_homepage_btn a{
    font-size: var(--mid--fontsize);
}
@media screen and (min-width:767px) {
    .advantage__image{
        width:50%;
    }
    .advantage__internet_taxi{
        width:50%;
        padding-right:10%;
    }
    .advantage__internet_taxi h1{
        font-size:var(--xlarge-fontsize);
    }
    .drivers_club ,.advantage__internet_taxi h2{
        font-size:var(--large-fontsize);
    }
    .advantage__internet_taxi p,li{
        font-size:var(--mid--fontsize);
    }
    .advantage_button{
        flex-direction: row;
    }
}

/* homepage blog */
.homepage__blog_items{
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}
.homepage__title_blog{
    display:block;
}
.homepage__blog h1{
    font-size:var(--large-fontsize);
}
.homepage_blogimage img{
    width:90%;
    border-radius:20px;
}
.homepage__description_blog h2{
    color:#9b9b9b;
    font-weight:100;
}
.homepage__description_blog P{
    font-size: var(--medium-fontsize);
    color: var(--primary--textcolor);
}
@media screen and (min-width:767px) {
    .homepage__blog_items{
        flex-direction:row;
        padding:0 8%;
    }
    .homepage__description_blog{
        width:30%;
        padding:2%;
    }
    .homepage__description_blog:hover{
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.082), 0 2px 10px 0 rgba(0, 0, 0, 0.066);
    }
    .homepage__blog h1{
        padding:5% 10%;
        font-size: var(--xlarge-fontsize);
    }
    .homepage__blog h2{
        font-size:var(--large-fontsize);
    }
}
/* map */
/* @media screen and (min-width:767px){
    .container{
        width: 1170px;
        display: table;
        content: " ";
        padding: 0 15px 0 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .cities_section{
        display:flex;
        background: #f8f8f9 url(../images/cars/map-back.svg) no-repeat;
        padding: 20px 0;
    }
    .cities_wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    .city{
        font-size: 18px;
        margin: 15px 0;
        width: 12%;
    }
    .name,.english_name{
        font-weight: 100;
        color: var(--primary--textcolor);
    }
} */