<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سرویس سازمان‌ها و راهکارهای ویژه کسب و کارها</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/Business_Services.css">
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <link rel="stylesheet" href="normalize.css">
    
</head>
<body>
    <header class="main__header">
        <div class="main__container">
            <div class="main__header__tools">
                <div class="main__logo">
                    <a class="navbar-brand" href="#index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="102" height="22" viewBox="0 0 102 22">
                            <g fill-rule="evenodd">
                                <path fill="#000" d="M102 5.946h-3.222v4.28H91.8v-4.28h-3.221v4.28h-5.637a1.878 1.878 0 0 
                                1-1.879-1.872V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873 1.878 1.878 0 0 
                                1-1.879-1.873V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873h-1.879V5.946h-3.22v4.28h-17.18v3.212h3.758v.535c0 
                                2.656-2.167 4.816-4.831 4.816-2.664 0-4.832-2.16-4.832-4.816v-3.746H37.58v3.746c0 4.426 3.613 8.027 
                                8.053 8.027 4.44 0 8.052-3.6 8.052-8.027v-.535H68.985a5.09 5.09 0 0 0 3.489-1.381 5.09 5.09 0 0 0 
                                3.49 1.38 5.09 5.09 0 0 0 3.489-1.38 5.089 5.089 0 0 0 3.489 1.38H102V5.947z"></path>
                                <path fill="#000"
                                    d="M84.702 19.297h3.854V22h3.304v-5.946h-7.158zM102 0h-6.561v2.973H102z"></path>
                                <path fill="#FF5B35" d="M26.842 11.297H10.737V5.946h16.105zM26.842 22H0v-5.351h26.842z">
                                </path>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="main__bergurmenu_icon burgermenu__toggle">
                    <iconify-icon icon="fa-solid:bars" style="color: black;" width="34" height="34"></iconify-icon>
                </div>
                <div class="main__header_tablet d-none">
                    <ul class="header__tablet_items">
                        <li class="tablet_item"><a href="#">پشتیبانی</a>
                        </li>
                        <li class="tablet_item"><a href="#">معرفی راننده</a>
                        </li>
                        <li class="tablet_item"><a href="#">خدمات کسب وکارها</a>
                        </li>
                        <li class="tablet_item"><a href="Career_Opportunities.html">فرصت های شغلی</a>
                        </li>
                        <li class="tablet_item"><a href="#">وبلاگ</a>
                        </li>
                        <div class="main__tapsidownload d-none">
                            <a href="Download.html">دانلود تپسی</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="mobile__burgermenu d-none">
                <ul class="burger__menu_items">
                    <li class="burger__menu_item"><a href="">وبلاگ</a>
                    </li>
                    <li class="burger__menu_item"><a href="Career_Opportunities.html">فرصت های شغلی</a>
                    </li>
                    <li class="burger__menu_item"><a href="">خدمات کسب وکارها</a>
                    </li>
                    <li class="burger__menu_item"><a href="">معرفی راننده</a>
                    </li>
                    <li class="burger__menu_item"><a href="">پشتیبانی</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="page">
        <div class="mainContainer">
            <div class="bgSection">
                <div class="center">
                        <h1 class="title">مزایای استفاده از پنل سازمانی تپسی</h1>
                    <div class="subtitleWrapper">
                        <div class="subtitle">
                            دسترسی به خودرو در تمام روزهای هفته و ۲۴ ساعت شبانه روز
                        </div>
                        <div class="subtitle">
                            سهولت در درخواست خودرو بدون نیاز به تماس تلفنی
                        </div>
                        <div class="subtitle">
                            انجام سفرهای روزانه با قیمت‌های به صرفه و اقتصادی
                        </div>
                    </div>
                </div>
            </div>
            <div class="citiesSection">
                <div class="container">
                    <div class="citiesContainer">
                        <div class="citiesWrapper">
                            <div class="city">
                                <h3 class="name">تهران</h3>
                                <h3 class="englishName">Tehran</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">کرج</h3>
                                <h3 class="englishName">Karaj</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">مشهد</h3>
                                <h3 class="englishName">Mashhad</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">اصفهان</h3>
                                <h3 class="englishName">Isfahan</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">شیراز</h3>
                                <h3 class="englishName">Shiraz</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">ارومیه</h3>
                                <h3 class="englishName">Urmia</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">لاهیجان</h3>
                                <h3 class="englishName">Lahijan</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">رشت</h3>
                                <h3 class="englishName">Rasht</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">انزلی</h3>
                                <h3 class="englishName">Anzali</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">تبریز</h3>
                                <h3 class="englishName">Tabriz</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">ساری</h3>
                                <h3 class="englishName">Sari</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">یزد</h3>
                                <h3 class="englishName">Yazd</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">کرمان</h3>
                                <h3 class="englishName">Kerman</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">قم</h3>
                                <h3 class="englishName">Qom</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">اهواز</h3>
                                <h3 class="englishName">Ahvaz</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">بابل</h3>
                                <h3 class="englishName">Babol</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">قائم شهر</h3>
                                <h3 class="englishName">Qaem Shahr</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">آمل</h3>
                                <h3 class="englishName">Amol</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">کرمانشاه</h3>
                                <h3 class="englishName">Kermanshah</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">گرگان</h3>
                                <h3 class="englishName">Gorgan</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">قزوین</h3>
                                <h3 class="englishName">Qazvin</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">اراک</h3>
                                <h3 class="englishName">Arak</h3>
                            </div>
                            <div class="city">
                                <h3 class="name">نیشابور</h3>
                                <h3 class="englishName">Neyshabur</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentSection">
                <div class="veryMain">
                    <h2 class="titleContainer">خدمات تپسی به شرکت‌ها و سازمان‌ها</h2>
                    <div class="contentContainer">
                        <div class="firstContent">
                            <div class="firstContentImg">
                                <img id="img1" src="../assets/images/images-1/img1.webp" alt="">
                            </div>
                            <div class="firstContentContainer">
                                <h3 class="firstContentTitle">پنل سازمانی تپسی</h3>
                                <p class="firstContentDesc">
                                    پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان
                                    درخواست خودرو برای تعداد نامحدود از کارکنان، نظارت بر سفرها،
                                    دریافت صورتحساب خودکار و گزارش‌گیری آنلاین را برای شرکت‌ها و سازمان‌ها فراهم آورده است.
                                </p>
                                <div class="desc1Features">
                                    <ul>
                                        <li>
                                            <div class="liWrapper">
                                                <div class="orangeSquare"></div>
                                                <div>
                                                    قابلیت درخواست چندین خودرو به صورت همزمان
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="liWrapper">
                                                <div class="orangeSquare"></div>
                                                <div>
                                                    امکان انتخاب چند مقصد برای یک سفر
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="liWrapper">
                                                <div class="orangeSquare"></div>
                                                <div>
                                                    امکان استفاده از تمامی سرویس های تپسی
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="liWrapper">
                                                <div class="orangeSquare"></div>
                                                <div>
                                                    قابلیت مشاهده و دریافت گزارش سفرها
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                    <div class="linkWrapper">
                                        <a id="coLink" href="">
                                            <div>
                                                ثبت نام در پنل
                                            </div>
                                        </a>
                                        <a id="coLink" href="">
                                            <div>
                                                ورود به پنل سازمانی
                                            </div>
                                        </a>
                                    </div>
                            </div>
                        </div>
                        <div class="secondContent">
                            <div class="secondContentImg">
                                <img id="img2" src="../assets/images/images-1/img2.webp" alt="">
                            </div>
                            <div class="secondContentContainer">
                                <h3 class="secondContentTitle">کدهای سفر سازمانی تپسی</h3>
                                <h4 class="creditTitle">کد اعتبار</h4>
                                <p class="secondContentDesc" >کسب و کارها و سازمان ها می‌توانند به تعداد و مبلغ مورد نظرشان،
                                    کد اعتبار تهیه کرده و در اختیار اشخاص مدنظر، پرسنل و یا مشتریان خود قرار بدهند.
                                    با وارد کردن این کدها در قسمت "هدیه و تخفیف" در اپلیکیشن تپسی،
                                    اعتبار کاربر به میزان مبلغ کد افزایش می‌یابد و می‌تواند از محل آن،
                                        از سرویس‌های مختلف تپسی استفاده کند.
                                </p>
                                <div class="creditLink">
                                    <a id="creditbtn" href="">
                                        <div>خرید کد اعتبار</div>
                                    </a>
                                </div>
                                <h4 class="voucher">کد تخفیف</h4>
                                <p class="voucherDesc">
                                    این کدها قابلیت سفارشی‌سازی دارند و می‌توانند
                                    به تعداد مورد نظر در اختیار کسب و کارها قرار بگیرند. 
                                    از مهم‌ترین ویژگی‌های این راهکار، می‌توان به موارد زیر اشاره کرد:
                                </p>
                                <div class="voucherFeatures">
                                    <ul>
                                        <li>
                                            <div class="liWrapper">
                                                <div class="orangeSquare"></div>
                                                <div>
                                                    قابلیت سفارشی‌سازی بر اساس مبدا، مقصد، زمان و تاریخ
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="liWrapper">
                                                <div class="orangeSquare"></div>
                                                <div>
                                                    امکان تعیین درصد و سقف مبلغ تخفیف
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="liWrapper">
                                                <div class="orangeSquare"></div>
                                                <div>
                                                    امکان اتصال به کیف پول
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="liWrapper">
                                                <div class="orangeSquare"></div>
                                                <div>
                                                    قابلیت دریافت گزارش سفرها در فواصل زمانی دلخواه
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <p class="moreInfo">
                                    برای خرید کد تخفیف درخواست خود را به
                                    <a href="">corporate@tapsi.cab</a>
                                    ارسال کرده یا با شماره 1630 داخلی4 در تماس باشید.
                                </p>
                            </div>
                        </div>
                        <div class="thirdContent">
                            <h2 class="videoTitle">آموزش نحوه ثبت نام در پنل سازمانی تپسی</h2>
                            <video width="100%" height="100%" controls>
                                <source src="../assets/images/images-1/سرویس سازمان‌ها و راهکارهای ویژه کسب‌وکارها تپسی.mp4" type="video/mp4">
                            </video>
                            <h2 class="infoTitle">دریافت اطلاعات بیشتر</h2>
                            <div class="infoContainer">
                                <div class="infoDesc">
                                    <p class="text">
                                        برای دریافت اطلاعات بیشتر، مشخصات خود و سازمان خود را در این قسمت وارد کنید. همکاران ما در اولین زمان با شما تماس خواهند گرفت.
                                        <br>
                                        <br>
                                        همچنین شما می‌توانید از راه‌های زیر با ما در ارتباط باشید:
                                        <br>
                                        <br>
                                    </p>
                                    <div class="contact">
                                        <div class="up">
                                            <div class="p1">
                                                <img src="../assets/images/images-1/old-tel.svg" alt="" class="icon">
                                                <div>شماره تماس:</div>
                                            </div>
                                            <div class="phone" dir="ltr">
                                                021 - 41630333
                                            </div>
                                        </div>
                                        <div class="down">
                                            <div class="p2">
                                                <img src="../assets/images/images-1/old-email.svg" alt="" class="icon">
                                                <div>پست الکترونیک:</div>
                                            </div>
                                            <div class="email">
                                                corporate@tapsi.cab
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form action="" class="registerForm">
                                    <div class="inputLable">نام و نام خانوادگی:</div>
                                    <input type="text" name="fullName">
                                    <div class="inputLable">نام سازمان:</div>
                                    <input type="text" name="org_name">
                                    <div class="inputLable">شماره تماس:</div>
                                    <input type="text" name="phone_number">
                                    <div class="bttn3">
                                        <div class="btn3Wrapper">
                                            <a href="" class="btn3">
                                                <div>ارسال مشخصات</div>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="footerContainer">
                    <div class="brandContainer">
                        <a href="">
                            <img src="../assets/images/images-1/tapsi-logo-white.svg" alt="" class="footer_logo">
                        </a>
                        <h3>اپلیکیشن درخواست خودرو و پیک</h3>
                        <p class="cr">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
                    </div>
                    <div class="footerColumn">
                        <h6>تپسی</h6>
                        <a href="" class="link">وبلاگ تپسی</a>
                        <a href="" class="link">فرصت شغلی</a>
                        <a href="" class="link">تماس با ما</a>
                        <a href="" class="link">لوگو و هویت سازمانی</a>
                        <a href="" class="link">معرفی راننده به تپسی</a>
                    </div>
                    <div class="footerColumn">
                        <h6>مسافران</h6>
                        <a href="" class="link">دانلود اپ مسافر</a>
                        <a href="" class="link">نسخه وب تپسی</a>
                        <a href="" class="link">پرسش‌های متداول مسافران</a>
                        <a href="" class="link">شرایط و قوانین مسافران</a>
                        <a href="" class="link">باشگاه مشتریان</a>
                    </div>
                    <div class="footerColumn">
                        <h6>رانندگان</h6>
                        <a href="" class="link">دانلود اپ سفیر</a>
                        <a href="" class="link">ثبت نام راننده تاکسی اینترنتی</a>
                        <a href="" class="link">پرسش‌های متداول سفیران</a>
                        <a href="" class="link">شرایط و قوانین سفیران</a>
                        <a href="" class="link">باشگاه سفیران</a>
                    </div>
                    <div class="footerColumn">
                        <h6>کسب و کارها</h6>
                        <a href="" class="link">پنل سازمانی تپسی</a>
                        <a href="" class="link">خرید کد اعتبار و تخفیف</a>
                        <a href="" class="link">دریافت API</a>
                    </div>
                    <div class="trust">
                        <div class="trustLogo">
                            <img src="../assets/images/images-1/etehadiye.png" alt="">
                        </div>
                        <div class="trustLogo">
                            <img src="../assets/images/images-1/samandehi.png" alt="">
                        </div>
                        <div class="trustLogo">
                            <img src="../assets/images/images-1/enamad.png" alt="">
                        </div>
                    </div>
                </div>
                <p class="crMobile">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
                <div class="socialMedias">
                    <h3>تپسی در شبکه‌های اجتماعی</h3>
                    <div class="socialLinks">
                        <a href="">
                            <img src="../assets/images/images-1/facebook.svg" alt="">
                        </a>
                        <a href="">
                            <img src="../assets/images/images-1/instagram.svg" alt="">
                        </a>
                        <a href="">
                            <img src="../assets/images/images-1/twitter.svg" alt="">
                        </a>
                        <a href="">
                            <img src="../assets/images/images-1/linkedin.svg" alt="" height="20px">
                        </a>
                        <a href="">
                            <img src="../assets/images/images-1/telegram.svg" alt="">
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>