<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/general.css">
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <link rel="stylesheet" href="../assets/styles/Career_Opportunities.css">
    <link rel="stylesheet" href="../assets/styles/normalize.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <title>TAPSI| فرصت های شغلی مختلف تپسی در شهرهای مختلف</title>
</head>
<body>
    <header class="main__header">
        <div class="main__container">
            <div class="main__header__tools">
                <div class="main__logo">
                    <a class="navbar-brand" href="index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="102" height="22" viewBox="0 0 102 22">
                            <g fill-rule="evenodd">
                                <path fill="#000" d="M102 5.946h-3.222v4.28H91.8v-4.28h-3.221v4.28h-5.637a1.878 1.878 0 0 
                                1-1.879-1.872V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873 1.878 1.878 0 0 
                                1-1.879-1.873V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873h-1.879V5.946h-3.22v4.28h-17.18v3.212h3.758v.535c0 
                                2.656-2.167 4.816-4.831 4.816-2.664 0-4.832-2.16-4.832-4.816v-3.746H37.58v3.746c0 4.426 3.613 8.027 
                                8.053 8.027 4.44 0 8.052-3.6 8.052-8.027v-.535H68.985a5.09 5.09 0 0 0 3.489-1.381 5.09 5.09 0 0 0 
                                3.49 1.38 5.09 5.09 0 0 0 3.489-1.38 5.089 5.089 0 0 0 3.489 1.38H102V5.947z"></path>
                                <path fill="#000"
                                    d="M84.702 19.297h3.854V22h3.304v-5.946h-7.158zM102 0h-6.561v2.973H102z"></path>
                                <path fill="#FF5B35" d="M26.842 11.297H10.737V5.946h16.105zM26.842 22H0v-5.351h26.842z">
                                </path>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="main__bergurmenu_icon burgermenu__toggle">
                    <iconify-icon icon="fa-solid:bars" style="color: black;" width="34" height="34"></iconify-icon>
                </div>
                <div class="main__header_tablet d-none">
                    <ul class="header__tablet_items">
                        <li class="tablet_item"><a href="#">پشتیبانی</a>
                        </li>
                        <li class="tablet_item"><a href="#">معرفی راننده</a>
                        </li>
                        <li class="tablet_item"><a href="#">خدمات کسب وکارها</a>
                        </li>
                        <li class="tablet_item"><a href="Career_Opportunities.html">فرصت های شغلی</a>
                        </li>
                        <li class="tablet_item"><a href="#">وبلاگ</a>
                        </li>
                        <div class="main__tapsidownload d-none">
                            <a href="Download.html">دانلود تپسی</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="mobile__burgermenu d-none">
                <ul class="burger__menu_items">
                    <li class="burger__menu_item"><a href="">وبلاگ</a>
                    </li>
                    <li class="burger__menu_item"><a href="Career_Opportunities.html">فرصت های شغلی</a>
                    </li>
                    <li class="burger__menu_item"><a href="">خدمات کسب وکارها</a>
                    </li>
                    <li class="burger__menu_item"><a href="">معرفی راننده</a>
                    </li>
                    <li class="burger__menu_item"><a href="">پشتیبانی</a>
                    </li>
                </ul>      
            </div>      
        </div>
    </header>
    <main class="container_job">
        <div class="job_main">
          <div class="job_main__img">
            <div class="job_main__content">
              <h1 class="job_main__content__header">از خودت سبقت بگیر!</h1>
              <p class="job_main__content__p">
                اگر مشتاق یادگیری هستید، دوست دارید رشد کنید و از خودتان هم فراتر
                بروید، اینجا فرصت برای سبقت گرفتن از خودتان فراهم است، چرا که سرعت
                رشد و یادگیری در تپسی بسیار بالاست. یادگیری مفیدی که از حل کردن
                چالش‌های جذاب در کنار یک تیم متخصص و حرفه‌ای حاصل می‌شود.
              </p>
              <a href="#"><div class="job_main__button m-btn">پیوستن به تپسی</div></a>
            </div>
          </div>
        </div>
        <div class="content tabcontent " id="yadgiri">
            <div class="content__img1" id="content__img1">
              <img src="../assets/images/Career/content-img.webp" width="80%" alt="" />
            </div>
            <div class="content__section" >
              <h1 class="content__header">یادگیری و توسعه</h1>
              <p class="content__p">
                ما فکر می‌کنیم که اگر قرار است تاثیر مثبتی روی محیط اطرافمان
                بگذاریم، باید این کار را از خودمان شروع کنیم. پس در تپسی، مسیر رشد و
                یادگیری را برای افرادی که مشتاق و مستعدند، فراهم کرده‌ایم. ما خودمان
                را متعهد می‌دانیم که هم‌راه و هم‌پای رشد هم باشیم و دانسته‌هایمان را
                به یکدیگر منتقل کنیم. فعالانه بازخورد می‌دهیم و معتقدیم وقتی همه ما
                در کنار هم رشد کنیم، حتما می‌توانیم کارهای بزرگ‌تری انجام بدهیم و
                آثار بزرگ‌تری خلق کنیم.
              </p>
              <div class="content__items">
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'asar')">اثرگذاری</button>
                </div>
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'hosh')"> رشد هوشمندانه</button>
                </div>
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'yadgiri')">یادگیری وتوسعه</button>
                </div>
                <div class="content__item ">
                  <button class="content__btn tablinks" onclick="openDiv(event,'behbod')">بهبود مستمر</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content tabcontent " id="asar">
            <div class="content__img1" id="content__img1">
              <img src="../assets/images/Career/content-img2.webp" width="80%" alt="" />
            </div>
            <div class="content__section" >
              <h1 class="content__header"> اثرگذاری </h1>
              <p class="content__p">
                ما برای انجام هر کاری، به نتیجه و اثرش فکر می‌کنیم، چرا که دوست داریم کاری انجام بدهیم که اثر مثبت و ماندگاری در زندگی هم‌وطنان‌مان بگذارد. ما باور داریم که در کشورمان، پتانسیل‌های زیادی برای خلق ارزش وجود دارد. پس هدفمان را انجام کارهای معناداری قرار داده‌ایم که اثر مثبتش بر کیفیت زندگی مردم کشورمان، ملموس باشد.
              </p>
              <div class="content__items">
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'asar')">اثرگذاری</button>
                </div>
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'hosh')">رشد هوشمندانه </button>
                </div>
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'yadgiri')">یادگیری وتوسعه</button>
                </div>
                <div class="content__item ">
                  <button class="content__btn tablinks" onclick="openDiv(event,'behbod')">بهبود مستمر</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content tabcontent " id="hosh">
            <div class="content__img1" id="content__img1">
              <img src="../assets/images/Career/content-img4.webp" width="80%" alt="" />
            </div>
            <div class="content__section" >
              <h1 class="content__header"> رشد هوشمندانه </h1>
              <p class="content__p">
                لازمه‌ی رشد سریع در محیط‌های چابک مثل کسب و کار ما، خلاق بودن و فکر کردن خارج از چهارچوب‌هاست. ما گاهی با مسائل سختی مواجهیم که فرصت محدودی برای حل دارند. در این مواقع، هرچند می‌دانیم که از شیوه‌های معمول نمی‌توان به نتیجه رسید، اما تسلیم نمی‌شویم چون از نظر ما «کار، نشد ندارد». اینجاست که هوش، خلاقیت و تفکر را به کار می‌گیریم تا اگر راهی نیست، راه بسازیم.
              </p>
              <div class="content__items">
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'asar')">اثرگذاری</button>
                </div>
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'hosh')">رشد هوشمندانه</button>
                </div>
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'yadgiri')">یادگیری وتوسعه</button>
                </div>
                <div class="content__item ">
                  <button class="content__btn tablinks" onclick="openDiv(event,'behbod')">بهبود مستمر</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content tabcontent " id="behbod">
            <div class="content__img1" id="content__img1">
              <img src="../assets/images/Career/content-img3.webp" width="80%" alt="" />
            </div>
            <div class="content__section" >
              <h1 class="content__header">بهبود مستمر</h1>
              <p class="content__p">
                ما فکر می‌کنیم «بهتر شدن»، یک امر مداوم است. پس هیچ‌وقت متوقف نمی‌شویم و سعی می‌کنیم در مسیر حرکت‌مان، هر روز بهتر از روز قبل باشیم. بهتر در ارائه خدمت و محصول به کاربران، بهتر در خلق تجربه همکاری برای همکاران و بهتر در خلق ارزش برای جامعه‌.
              </p>
              <div class="content__items">
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'asar')">اثرگذاری</button>
                </div>
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'hosh')">رشد هوشمندانه</button>
                </div>
                <div class="content__item">
                  <button class="content__btn tablinks" onclick="openDiv(event,'yadgiri')">یادگیری وتوسعه</button>
                </div>
                <div class="content__item ">
                  <button class="content__btn tablinks" onclick="openDiv(event,'behbod')">بهبود مستمر</button>
                </div>
              </div>
            </div>
          </div>
          <div class="team">
            <h2 class="team__header">در تپسی چه می گذرد؟</h2>
            <div class="team__mobile">
              <div class="team__desktop__row">
                <picture>
                  <img
                    src="../assets/images/Career/team-img1.webp"
                    alt="team-img"
                    width="100%"
                  />
                </picture>
                <picture
                  ><img
                    src="../assets/images/Career/team-img2.webp"
                    alt="team-img"
                    width="100%"
                  />
                </picture>
              </div>
              <div class="team__desktop__row">
                <picture
                  ><img
                    src="../assets/images/Career/team-img3.webp"
                    alt="team-img"
                    width="100%"
                  />
                </picture>
                <picture
                  ><img
                    src="../assets/images/Career/team-img4.webp"
                    alt="team-img"
                    width="100%"
                  />
                </picture>
              </div>
            </div>
          </div>
          <div class="slideshow">
            <h2 class="slideshow__header">تپسی از نگاه همکاران</h2>
            <div class="slideshow__section">
              <div class="arrow ">
                <a class="prev" onclick="plusSlides(-1)">
    <iconify-icon icon="dashicons:arrow-left-alt2" class="icon_slide" width="20" height="20" rotate="180deg"></iconify-icon></a>
              </div>
              <div class="Slides slideshow__content">
                <div class="add_profile">
                  <picture>
                    <img src="../assets/images/Career/hamkar2.webp" alt="" width="64px" height="64px" style="border-radius: 50%;">
                  </picture>
                  <div>
                    <div class="name_hamkar">بردیا میرزایی</div>
                    <div class="job_hamkar">مدیرمحصول</div>
                  </div>
                </div>
               <p class="myslides">از نظر من یکی از مهم‌ترین آورده‌های تپسی برای اعضای تیمش، توسعه فردیه. سرعت رشد مجموعه تپسی به شدت بالاست و این باعث می‌شه تپسی، تک تک افراد رو همراه با خودش رو به جلو، پیش ببره و باعث رشد اون‌ها بشه.
                    تپسی جامعه هدف بزرگی داره و اینجا، هر قدمی که برمی‌داری یک تاثیر مستقیم یا غیرمستقیم بر زندگی افرادی می‌ذاره که به صورت روزمره با تپسی سروکار دارن و این یک تجربه فوق‌العاده جذابه.
                    تپسی دنبال خلق ارزشه و برای همین افرادی رو جذب می‌کنه که همین رویکرد رو دارن و برای حل مسئله و باز کردن گره‌ها اشتیاق و علاقه دارن.
                </p>
              </div>
              <div class="Slides slideshow__content">
                <div class="add_profile">
                  <picture>
                    <img src="../assets/images/Career/hamkar1.webp" alt="" width="64px" height="64px" style="border-radius: 50%;">
                  </picture>
                  <div>
                    <div class="name_hamkar" >حمید کاظمی</div>
                    <div class="job_hamkar">مدیر واحد ارتباط با مشتریان</div>
                  </div>
                </div>
               <p class="myslides">
                مهم‌ترین ویژگی تپسی برای من اینه که به شدت امکان رشد و یادگیری بهم داده. علیرغم اینکه من در ورود به شرکت تجربه کمی داشتم، به من کاملا اعتماد کردن و مسئولیت‌های  مهمی رو به عهده‌ام گذاشتن.
    این رویکرد باعث شد توی این ۵ سال در تپسی از خطا کردن نترسم و تجربه کنم و یاد بگیرم. به دور از شعار و از صمیم قلب می‌گم تپسی برای من خانواده‌ است.
    از نظر من حمل و نقل بخش مهمی از جامعه‌ است و من به عنوان عضوی از تپسی، یکی از بزرگترین مجموعه‌های فعال توی این صنعت، حس فوق‌العاده‌ای از حضور در این بخش مهم دارم. حس تاثیرگذاری.
                </p>
              </div>
              <div class="Slides slideshow__content">
                <div class="add_profile">
                  <picture>
                    <img src="../assets/images/Career/hamkar3.webp" alt="" width="64px" height="64px" style="border-radius: 50%;">
                  </picture>
                  <div>
                    <div class="name_hamkar"> فراز خسروانی</div>
                    <div class="job_hamkar">سرپرست تحلیل عملکرد</div>
                  </div>
                </div>
               <p class="myslides">
                تپسی به آدم‌ها فرصت ایده‌پردازی می‌ده و برای ایده‌هاشون ارزش قائل میشه، به افراد اعتماد می‌کنه و جسارت ریسک کردن می‌ده و همیشه راه رو برای پیشرفت باز می‌ذاره. جریان یادگیری هیچ‌وقت توی تپسی متوقف نمیشه و همیشه یک تجربه و چالش جدیدی وجود داره که حل کردنش، اشتیاق و انگیزه لازم رو برای ادامه مسیر به آدم می‌ده.
    شاید جریان کار توی تپسی خیلی سریع و پرفشار باشه، ولی این باعث می‌شه با یک سال کار کردن توی تپسی به اندازه ده سال تجربه کسب کنی و این برای من خیلی ارزشمنده.
                </p>
              </div>
              <div class="Slides slideshow__content">
                <div class="add_profile">
                  <picture>
                    <img src="../assets/images/Career/hamkar4.webp" alt="" width="64px" height="64px" style="border-radius: 50%;">
                  </picture>
                  <div>
                    <div class="name_hamkar">مریم نوین فر</div>
                    <div class="job_hamkar">سرپرست واحد شکایت</div>
                  </div>
                </div>
               <p class="myslides">از نظر من یکی از مهم‌ترین آورده‌های تپسی برای اعضای تیمش، توسعه فردیه. سرعت رشد مجموعه تپسی به شدت بالاست و این باعث می‌شه تپسی، تک تک افراد رو همراه با خودش رو به جلو، پیش ببره و باعث رشد اون‌ها بشه.
                    تپسی جامعه هدف بزرگی داره و اینجا، هر قدمی که برمی‌داری یک تاثیر مستقیم یا غیرمستقیم بر زندگی افرادی می‌ذاره که به صورت روزمره با تپسی سروکار دارن و این یک تجربه فوق‌العاده جذابه.
                    تپسی دنبال خلق ارزشه و برای همین افرادی رو جذب می‌کنه که همین رویکرد رو دارن و برای حل مسئله و باز کردن گره‌ها اشتیاق و علاقه دارن.
                </p>
              </div>
    
              <div class="arrow">
                <a class="next" onclick="plusSlides(-1)">
    <iconify-icon icon="dashicons:arrow-left-alt2" class="icon_slide" width="20" height="20"></iconify-icon></a>
    
              </div>          
            </div>
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
              <span class="dot" onclick="currentSlide(4)"></span> 
            </div>
            
          </div>
          <div class="table">
            <h2 class="table__header">فرصت های شغلی</h2>
            <p class="table__p">
              <span class="bg-pink">35</span>
              فرصت شغلی در
              <span class="bg-pink">4 شهر</span>
              ایران
            </p>
            <div class="table__grid">
              <div><a href="">عملیات</a></div>
              <div><a href="">فنی</a></div>
              <div><a href=""> روابط عمومی</a></div>
              <div><a href="">منابع انسانی </a></div>
              <div><a href="">رگولاتوری</a></div>
              <div><a href="">مارکتینگ </a></div>
              <div><a href="">حقوقی</a></div>
              <div><a href="">محصول</a></div>
              <div><a href=""> مالی</a></div>
              <div><a href="">هوش مصنوعی</a></div>
              <div><a href=""></a></div>
              <div><a href=""></a></div>
            </div>
            <div class="table__buttons">
              <a href="#">
                <div class="job_main__button table__button1">همه فرصت های شغلی</div>
              </a>
              <a href="#">
                <div class="job_main__button table__button2">کارآموزی در تپسی</div>
              </a>
            </div>
          </div>
          <div class="content2">
            <div class="content2_img" ">
              <img
                src="../assets/images/Career/content2-img.webp"
                width="100%"
                alt="دانشگاه"
              />
            </div>
            <div
              class="content2__section">
              <h1 class="content__header">ارتباط با دانشگاه</h1>
              <p class="content__p">
                ما در تپسی، مشتاق ارتباط با دانشگاه‌هاییم چرا که فکر می‌کنیم این
                ارتباط، برای هر دو طرف ارزش‌آفرین و اثرگذار است. پس تلاش می‌کنیم با
                برگزاری کارگاه‌ها، جلسات انتقال تجربه و تورهای بازدید، فرصت آشنایی
                با صنعت و انتقال تجربه را برای دانشجویان علاقه‌مند فراهم کنیم.
                همچنین، مسیر حمایت از پایان‌نامه‌ها و پذیرش کارآموز نیز در تپسی
                فراهم است.
              </p>
              <a href="">
                <div class="job_main__button table__button1 content2__btn">
                  ارتباط با تپسی
                </div>
              </a>
            </div>
          </div>
          <div class="login content2">
            <div class="login__content content2__section">
              <h1 class="content__header">ثبت نام در آکادمی تپسی</h1>
              <p class="content__p">
                ما به صورت دوره‌ای، رویدادهای آموزشی متنوعی را برگزار می‌کنیم، از سمینارها و کارگاه‌های تخصصی گرفته تا رویدادهای انتقال تجربه و اشتراک دانش. پس اگر مایلین در این رویدادها حضور داشته باشید، اینجا ثبت‌نام کنید و حوزه‌های مورد علاقه‌تان را برایمان بنویسید.
              </p>
            </div>
            <div class="login__form">
              <form action="#" class="form">
                <div class="login__name">
                  <label for="" class="label">نام</label>
                  <span class="star"> *</span><br>
                  <input type="text">
                </div>
                <div class="login__lname">
                  <label for="" class="label">نام خانوادگی</label>
                  <span class="star"> *</span><br>
                  <input type="text">
                </div>
                <div class="login__email">
                  <label for="" class="label">ایمیل</label>
                  <span class="star"> *</span><br>
                  <input type="text" placeholder="email@example.com">
                </div>
                <div class="login__tel">
                  <label for="" class="label">شماره تماس</label>
                  <span class="star"> *</span><br>
                  <input type="text" placeholder=" مثال:09123456789">
                </div>
                <div class="login__button job_main__button">ارسال</div>
              </form>
            </div>
          </div>
        </main>
    
     <footer class="footer">
          <div class="footerContainer">
              <div class="brandContainer">
                  <a href="">
                      <img src="../assets/images/images-1/tapsi-logo-white.svg" alt="" class="footer_logo">
                  </a>
                  <h3>اپلیکیشن درخواست خودرو و پیک</h3>
                  <p class="cr">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
              </div>
              <div class="footerColumn">
                  <h6>تپسی</h6>
                  <a href="" class="link">وبلاگ تپسی</a>
                  <a href="" class="link">فرصت شغلی</a>
                  <a href="" class="link">تماس با ما</a>
                  <a href="" class="link">لوگو و هویت سازمانی</a>
                  <a href="" class="link">معرفی راننده به تپسی</a>
              </div>
              <div class="footerColumn">
                  <h6>مسافران</h6>
                  <a href="" class="link">دانلود اپ مسافر</a>
                  <a href="" class="link">نسخه وب تپسی</a>
                  <a href="" class="link">پرسش‌های متداول مسافران</a>
                  <a href="" class="link">شرایط و قوانین مسافران</a>
                  <a href="" class="link">باشگاه مشتریان</a>
              </div>
              <div class="footerColumn">
                  <h6>رانندگان</h6>
                  <a href="" class="link">دانلود اپ سفیر</a>
                  <a href="" class="link">ثبت نام راننده تاکسی اینترنتی</a>
                  <a href="" class="link">پرسش‌های متداول سفیران</a>
                  <a href="" class="link">شرایط و قوانین سفیران</a>
                  <a href="" class="link">باشگاه سفیران</a>
              </div>
              <div class="footerColumn">
                  <h6>کسب و کارها</h6>
                  <a href="" class="link">پنل سازمانی تپسی</a>
                  <a href="" class="link">خرید کد اعتبار و تخفیف</a>
                  <a href="" class="link">دریافت API</a>
              </div>
              <div class="trust">
                  <div class="trustLogo">
                      <img src="../assets/images/images-1/etehadiye.png" alt="">
                  </div>
                  <div class="trustLogo">
                      <img src="../assets/images/images-1/samandehi.png" alt="">
                  </div>
                  <div class="trustLogo">
                      <img src="../assets/images/images-1/samandehi.png" alt="">
                  </div>
              </div>
          </div>
          <p class="crMobile">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
          <div class="socialMedias">
              <h3>تپسی در شبکه‌های اجتماعی</h3>
              <div class="socialLinks">
                  <a href="">
                      <img src="../assets/images/images-1/facebook.svg" alt="">
                  </a>
                  <a href="">
                      <img src="../assets/images/images-1/instagram.svg" alt="">
                  </a>
                  <a href="">
                      <img src="../assets/images/images-1/twitter.svg" alt="">
                  </a>
                  <a href="">
                      <img src="../assets/images/images-1/linkedin.svg" alt="" height="20px">
                  </a>
                  <a href="">
                      <img src="../assets/images/images-1/telegram.svg" alt="">
                  </a>
              </div>
          </div>
      </footer>

    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/Career_Opportunities.js"></script>
</body>
</html>