<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تاکسی اینترنتی تپسی-اپلیکیشن درخواست خودرو وپیک | TAPSI</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/general.css">
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</head>

<body>
    <header class="main__header">
        <div class="main__container">
            <div class="main__header__tools">
                <div class="main__logo">
                    <a class="navbar-brand" href="#index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="102" height="22" viewBox="0 0 102 22">
                            <g fill-rule="evenodd">
                                <path fill="#000" d="M102 5.946h-3.222v4.28H91.8v-4.28h-3.221v4.28h-5.637a1.878 1.878 0 0 
                                1-1.879-1.872V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873 1.878 1.878 0 0 
                                1-1.879-1.873V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873h-1.879V5.946h-3.22v4.28h-17.18v3.212h3.758v.535c0 
                                2.656-2.167 4.816-4.831 4.816-2.664 0-4.832-2.16-4.832-4.816v-3.746H37.58v3.746c0 4.426 3.613 8.027 
                                8.053 8.027 4.44 0 8.052-3.6 8.052-8.027v-.535H68.985a5.09 5.09 0 0 0 3.489-1.381 5.09 5.09 0 0 0 
                                3.49 1.38 5.09 5.09 0 0 0 3.489-1.38 5.089 5.089 0 0 0 3.489 1.38H102V5.947z"></path>
                                <path fill="#000"
                                    d="M84.702 19.297h3.854V22h3.304v-5.946h-7.158zM102 0h-6.561v2.973H102z"></path>
                                <path fill="#FF5B35" d="M26.842 11.297H10.737V5.946h16.105zM26.842 22H0v-5.351h26.842z">
                                </path>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="main__bergurmenu_icon burgermenu__toggle">
                    <iconify-icon icon="fa-solid:bars" style="color: black;" width="34" height="34"></iconify-icon>
                </div>
                <div class="main__header_tablet d-none">
                    <ul class="header__tablet_items">
                        <li class="tablet_item"><a href="#">پشتیبانی</a>
                        </li>
                        <li class="tablet_item"><a href="#">معرفی راننده</a>
                        </li>
                        <li class="tablet_item"><a href="#">خدمات کسب وکارها</a>
                        </li>
                        <li class="tablet_item"><a href="Career_Opportunities.html">فرصت های شغلی</a>
                        </li>
                        <li class="tablet_item"><a href="#">وبلاگ</a>
                        </li>
                        <div class="main__tapsidownload d-none">
                            <a href="Download.html">دانلود تپسی</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="mobile__burgermenu d-none">
                <ul class="burger__menu_items">
                    <li class="burger__menu_item"><a href="">وبلاگ</a>
                    </li>
                    <li class="burger__menu_item"><a href="Career_Opportunities.html">فرصت های شغلی</a>
                    </li>
                    <li class="burger__menu_item"><a href="">خدمات کسب وکارها</a>
                    </li>
                    <li class="burger__menu_item"><a href="">معرفی راننده</a>
                    </li>
                    <li class="burger__menu_item"><a href="">پشتیبانی</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main__homepage_section1">
        <div class="homepage__streetimage">
            <div class="homepage__streetimage_content">
                <h1>تپسی</h1>
                <h3>اپلیکیشن درخواست خودرو و پیک</h3>
                <div class="streetimage_downloadapp">
                    <div class="downloadapp_items firstcolumn style_firstline">
                        <iconify-icon class="streetimage_icons" inline icon="ant-design:arrow-down-outlined"
                            style="color: black;" width="24" height="24"></iconify-icon>
                        <a href="">دانلود اپلیکیشن مسافران</a>
                    </div>
                    <div class="downloadapp_items secondcolmn style_firstline">
                        <iconify-icon class="streetimage_icons" inline icon="ion:logo-pwa" style="color: black;"
                            width="24" height="24"></iconify-icon>
                        <a href="">وب اپلیکیشن مسافران</a>
                    </div>
                    <div class="downloadapp_items firstcolumn style_secondline">
                        <iconify-icon class="streetimage_icons" inline icon="ant-design:arrow-down-outlined"
                            style="color: white;" width="24" height="24"></iconify-icon>
                        <a href="">دانلود اپلیکیشن رانندگان</a>
                    </div>
                    <div class="downloadapp_items secondcolmn style_secondline">
                        <iconify-icon class="streetimage_icons" inline icon="fa-solid:car" style="color: white;"
                            width="24" height="24"></iconify-icon>
                        <a href="">ثبت نام راننده</a>
                    </div>
                </div>
            </div>
            <div class="homepage_mobileimage"></div>
        </div>
    </div>
    <div class="tapsi__services">
        <h1 class="side-space">سرویس های تپسی</h1>
        <div class="tapsi__services_items side-space">
            <div class="cars__item" onclick="showTapsiService(event, 'tapsi-classic')">
                <img src="../assets/images/cars/cc-classic.png" alt="classic">
                <p id="tapsi_classic">تپسی کلاسیک</p>
            </div>
            <div class="cars__item" onclick="showTapsiService(event, 'tapsi-tel')">
                <img src="../assets/images/cars/cc-tel.png" alt="tel">
                <p>تپسی تلفنی</p>
            </div>
            <div class="cars__item" onclick="showTapsiService(event, 'tapsi-line')">
                <img src="../assets/images/cars/cc-line.png" alt="line">
                <p>تپسی لاین</p>
            </div>
            <div class="cars__item" onclick="showTapsiService(event, 'tapsi-moto')">
                <img src="../assets/images/cars/cc-motopeyk.png" alt="motopeyk">
                <p>موتوپیک</p>
            </div>
            <div class="cars__item" onclick="showTapsiService(event, 'tapsi-auto')">
                <img src="../assets/images/cars/cc-autopeyk.png" alt="autopey;">
                <p>اتوپیک</p>
            </div>
            <div class="cars__item" onclick="showTapsiService(event, 'tapsi-plus')">
                <img src="../assets/images/cars/cc-plus.png" alt="plus">
                <p>تپسی پلاس</p>
            </div>
            <div class="cars__item" onclick="showTapsiService(event, 'tapsi-taxi')">
                <img src="../assets/images/cars/cc-taxi.png" alt="taxi">
                <p>تاکسی</p>
            </div>
            <div class="cars__item" onclick="showTapsiService(event, 'tapsi-hamyar')">
                <img src="../assets/images/cars/cc-hamyar.png" alt="hamyar">
                <p>همیار</p>
            </div>
        </div>
    </div>
    <div id="tapsi-classic" class="description__tapsi_service tab_homepage under-space">
        <div class="tapsi__services_content">
            <h2>تپسی کلاسیک</h2>
            <p> <br> با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان دارید. تپسی
                کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر ساعتی از روز است. در این
                سرویس، شما امکان تعیین دو یا چند مقصد و همچنین توقف در مسیر را دارید.
            </p>
        </div>
        <div class="big__car side-space d-none">
            <img src="../assets/images/cars/illus-classic.png" alt="cars">
        </div>
    </div>
    <div id="tapsi-tel" class="description__tapsi_service tab_homepage under-space">
        <div class="tapsi__services_content">
            <h2>تپسی تلفنی</h2>
            <p> <br> سرویس تپسی تلفنی یا ۱۶۳۰، این امکان را به شما می‌دهد که بدون نیاز به اینترنت و اپلیکیشن، درخواست
                خودرو بدهید. این سرویس تاکسی تلفنی مناسب زمانی است که به هر دلیلی دسترسی به اینترنت یا اپلیکیشن ندارید.
                همچنین سرویس تلفنی تپسی، راه حلی مناسب برای افرادی است که کار کردن با اپلیکیشن‌های موبایلی برایشان راحت
                نیست.
            </p>
        </div>
        <div class="big__car side-space d-none">
            <img src="../assets/images/cars/illus-tel.png" alt="cars">
        </div>
    </div>
    <div id="tapsi-line" class="description__tapsi_service tab_homepage under-space">
        <div class="tapsi__services_content">
            <h2>تپسی لاین</h2>
            <p> <br> تپسی لاین سرویسی است که امکان سفر اشتراکی را برایتان فراهم می‌کند. در این سرویس شما با مسافر دیگری
                که هم‌مسیرتان است، هم‌سفر خواهید بود و هزینه سفرتان تقسیم می‌شود. این سرویس در حال حاضر به دلیل شرایط
                همه‌گیری بیماری کرونا از دسترس خارج شده اما با بهبود شرایط می‌توانید از سرویس لاین استفاده کنید.
            </p>
        </div>
        <div class="big__car side-space d-none">
            <img src="../assets/images/cars/illus-line.png" alt="cars">
        </div>
    </div>
    <div id="tapsi-moto" class="description__tapsi_service tab_homepage under-space">
        <div class="tapsi__services_content">
            <h2>تپسی موتوپیک</h2>
            <p> <br> با استفاده از سرویس موتوپیک، بسته‌ها و مرسولاتتان با پیک موتور به مقصد ارسال می‌شوند. این سرویس
                مناسب زمانی است که می‌خواهید مرسوله سریع‌تر به مقصد برسد. در این سرویس، شما می‌توانید مسیر رسیدن
                مرسوله‌تان به مقصد را به صورت لحظه‌ای روی نقشه دنبال کنید.
            </p>
        </div>
        <div class="big__car side-space d-none">
            <img src="../assets/images/cars/illus-motopeyk.png" alt="cars">
        </div>
    </div>
    <div id="tapsi-auto" class="description__tapsi_service tab_homepage under-space">
        <div class="tapsi__services_content">
            <h2>اتوپیک</h2>
            <p> <br> اتوپیک سرویسی برای ارسال بسته‌های شما با خودرو است. این سرویس، برای زمانی مناسب است که بسته‌های
                شما، با موتور قابل ارسال نیستند و یا در حین جابجایی، نیاز به مراقبت بیشتری دارند. در این سرویس نیز امکان
                رصد لحظه ‌به لحظه موقعیت مکانی مرسوله تا زمان رسیدن به مقصد فراهم است.
            </p>
        </div>
        <div class="big__car side-space d-none">
            <img src="../assets/images/cars/illus-autopeyk.png" alt="cars">
        </div>
    </div>
    <div id="tapsi-plus" class="description__tapsi_service tab_homepage under-space">
        <div class="tapsi__services_content">
            <h2>تپسی پلاس</h2>
            <p> <br> در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر و عمر کمتر، به دنبال شما خواهد آمد.
                همچنین، رانندگان این سرویس بالاترین امتیاز را از مسافران دریافت کرده‌اند. در این سرویس که در حال حاضر در
                تهران فعال است، امکان تعیین چند مقصد یا توقف در حین سفر، وجود دارد.
            </p>
        </div>
        <div class="big__car side-space d-none">
            <img src="../assets/images/cars/illus-plus.png" alt="cars">
        </div>
    </div>
    <div id="tapsi-taxi" class="description__tapsi_service tab_homepage under-space">
        <div class="tapsi__services_content">
            <h2>تپسی تاکسی</h2>
            <p> <br> در سرویس تاکسی تپسی، تاکسی‌های زرد یا سبز شما را به مقصدتان می‌رسانند. این سرویس در حال حاضر در
                تهران فعال است و چنانچه به دلایلی مانند ورود به محدوده طرح ترافیک یا طرح آلودگی هوا، ترجیح بدهید از
                تاکسی برای رفت‌وآمدتان استفاده کنید، گزینه مناسبی خواهد بود.
            </p>
        </div>
        <div class="big__car side-space d-none">
            <img src="../assets/images/cars/illus-taxi.png" alt="cars">
        </div>
    </div>
    <div id="tapsi-hamyar" class="description__tapsi_service tab_homepage under-space">
        <div class="tapsi__services_content">
            <h2>همیار</h2>
            <p> <br> سرویس همیار تپسی، به جای شما خرید می‌کند. کافیست فروشگاه مورد نظر خود را به عنوان مبدا مشخص کرده و
                لیست خریدتان را داخل اپ وارد کنید. این خرید‌ها می‌تواند از سوپرمارکت یا داروخانه مورد نظر شما باشند.
            </p>
        </div>
        <div class="big__car side-space d-none">
            <img src="../assets/images/cars/illus-hamyar.png" alt="cars">
        </div>
    </div>
    <div class="section4_mac">
        <div class="main__special_services same-position side-space">
            <div class="picture_mac same-sizepicture">
                <img src="../assets/images/i-mac.webp" alt="mac">
            </div>
            <div class="main__special_content">
                <h1>خدمات تپسی ویژه کسب و کارها</h1>
                <p>
                    پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست
                    هم‌زمان تعداد نامحدودی خودرو و پیک را برای کسب‌وکارها و سازمان‌ها فراهم می‌کند.
                    و با استفاده از آن می‌توانید ماموریت های درون‌شهری و
                    ارسال کالاهای خود را به سادگی مدیریت کنید.
                </p>
                <div class="special_link">
                    <a href="#">اطلاعات بیشتر سرویس سازمانی</a>
                    <iconify-icon inline icon="dashicons:arrow-left-alt2" style="color: #ff5722;" width="24"
                        height="24">
                    </iconify-icon>
                </div>
                <div class="homepage_btn button">
                    <a class="mac-link" href="">ورود و ثبت نام پنل سازمانی</a>
                </div>
            </div>

        </div>
        <div class="main__special_services dif-position side-space">
            <div class="picture_mac same-sizepicture">
                <img class="mac-book" src="../assets/images/macbook.webp" alt="mac-book">
            </div>
            <div class="main__special_content">
                <h1>خرید کد اعتبار تپسی</h1>
                <p>
                    کاربران، کسب‌وکارها و سازمان‌ها می‌توانند به تعداد و مبلغ مورد نظرشان، کد اعتبار یا کد تخفیف تپسی
                    تهیه
                    کرده، برای خود، پرسنل و یا مشتریانشان استفاده کنند و از تخفیف‌های ویژه تپسی نیز بهره‌مند شوند.
                    این کدها امکان سفارشی‌سازی بر اساس مبدا، مقصد، زمان، درصد و مبلغ را دارند.
                </p>
                <div class="homepage_btn button">
                    <a class="mac-link" href="">خرید کد اعتبار و تخفیف</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section_tehranimage under-space">
        <div class="tehranimage__title">
            <h3 class="show_hidden">بسته امنیت سفر</h3>
            <p class="hidden_homepage">امکانات ویژه امنیت سفر، شامل اشتراک سفر و پشتیبانی ۲۴ ساعته تیم متخصصین امنیت
                تپسی</p>
        </div>
        <div class="borderleft_homepage d-none"></div>
        <div class="tehranimage__title">
            <h3 class="show_hidden">درخواست تلفنی</h3>
            <p class="hidden_homepage">امکان درخواست خودرو بدون نیاز به اینترنت و اپلیکیشن، از طریق تماس با شماره
                ۱۶۳۰</p>
        </div>
        <div class="borderleft_homepage d-none"></div>
        <div class="tehranimage__title">
            <h3 class="show_hidden">دسترس پذیری برای توان یابان</h3>
            <p class="hidden_homepage">امکان استفاده کاربران نابینا و ناشنوا از اپلیکیشن تپسی و عدم کسر کمیسیون از
                سفر مسافران ویلچردار</p>
        </div>
        <div class="borderleft_homepage d-none"></div>
        <div class="tehranimage__title">
            <h3 class="show_hidden">امکانات هوشمند</h3>
            <p class="hidden_homepage">سهولت استفاده از اپلیکیشن با پیشنهاد مبدا و مقصد سفر، مقاصد منتخب و
                پیشنهادهای ویژه شما</p>
        </div>
    </div>
    <div class="tapsi__drivers main__special_services same-position">
        <div class="advantage__image  under-space">
            <img src="../assets/images/driver.webp" alt="driver">
        </div>
        <div class="advantage__internet_taxi">
            <div class="advantage under-space">
                <h1>مزایای تپسی برای رانندگان تاکسی اینترنتی</h1>
                <p>رانندگان (سفیران) به‌عنوان همکاران تپسی، جایگاه ویژه‌ای برای شرکت دارند. به همین‌دلیل مزایای مختلفی
                    برای
                    آنها در نظر گرفته شده است.
                </p>
            </div>
            <div class="under-space">
                <h2>کسب درآمد روزانه، پایدار و بدون محدودیت</h2>
                <ul>
                    <li>۱. امکان تسویه‌ی اعتبار در هر ساعت از شبانه‌روز</li>
                    <li>۲. طرح‌های تشویقی، ماموریت‌ها‌، پاداش و اعطای وام‌های قرض‌الحسنه به‌طور دوره‌ای</li>
                    <li>۳. نمایش مکان‌های پردرخواست در اپلیکیشن و دریافت سفرهای طلایی</li>
                </ul>
            </div>
            <div class="under-space">
                <h2>تضمین امنیت و پشتیبانی رانندگان</h2>
                <ul>
                    <li>۱. پشتیبانی ۲۴ ساعته</li>
                    <li>۲. امکانات امنیت سفر شامل تماس اضطراری با واحد امنیت و پشتیبانی ۲۴ ساعته تیم امنیت</li>
                </ul>
            </div>
            <div class="under-space">
                <h2>واریز سهمیه بنزین ویژه رانندگان تپسی</h2>
                <ul>
                    <li>۱. نمایش میزان پیمایش ماهانه درون اپلیکیشن</li>
                    <li>۲. محاسبه‌ی مسافت طی شده تا مسافر در پیمایش</li>
                </ul>
            </div>
            <div class="drivers_club under-space">
                <h2> استفاده از مزایای <span class="drivers_club" style="color:#0065dc;">باشگاه رانندگان تپسی</span>
                </h2>
                <ul>
                    <li>۱. تخفیف روی خدمات خودرو مانند بیمه، سرویس‌های دوره‌ای، خرید لاستیک و ...</li>
                    <li>۲. تخفیف روی خدمات رفاهی مانند وام قرض‌الحسنه، خدمات درمانی، خرید اقساطی و ...</li>
                </ul>
            </div>
            <div class="advantage_button">
                <div class="advantage_homepage_btn button">
                    <a href="">ثبت نام راننده تاکسی آنلاین</a>
                </div>
                <div class="advantage_homepage_btn button">
                    <a href="">دانلود برنامه تپسی راننده</a>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage__blog under-space">
        <h1>تازه ترین های وبلاگ تپسی</h1>
        <div class="homepage__blog_items">
            <div class="homepage__description_blog">
                <div class="homepage_blogimage">
                    <img src="../assets/images/cars/peyk-scaled-1-1130x580-2.jpg" alt="">
                </div>
                <h2>تپسی پک،سرویس جدید تپسی برای ارسال به صرفه</h2>
                <p>تمایل مردم به خرید آنلاین و غیرحضوری روز به روز در حال افزایش است وروزانه افراد زیادی بدون مراجعه به
                    فروشگاه ها،کالا های مورد نیاز خود را تهیه و در محل کار یا خانه دریافت می‌کنند.با توجه به محبوبیت این
                    سبک
                    خرید فروشگاه ها هم</p>
            </div>
            <div class="homepage__description_blog">
                <div class="homepage_blogimage">
                    <img src="../assets/images/cars/etehadie-no-logo-scaled.jpg" alt="">
                </div>
                <h2>دومین دوره انتخابات اتحادیه کسب و کارهای مجازی</h2>
                <p>دیدگاه و اهداف میلاد منشی‌پور، کاندیدای دومین دوره انتخابات اتحادیه کسب و کارهای مجازی من میلاد منشی
                    پور، مدیرعامل و هم بنیان‌گذار تپسی هستم؛ سال ۱۳۹۴ پس از یک دهه فعالیت در خارج از کشور در حوزه مشاوره
                </p>
            </div>
            <div class="homepage__description_blog">
                <div class="homepage_blogimage">
                    <img src="../assets/images/cars/A68CB9F1-AA36-4B75-99B7-DE475A5FFBDF.jpeg" alt="digi">
                </div>
                <h2>تخفیف ویژه دیجی کالا جت برای کاربران تپسی</h2>
                <p>(منقضی شده) سوپرمارکت آنلاین «دیجی‌کالا جت» با ارسال سریع محصولات سوپرمارکتی شروع به کار کرده است و
                    سفارش‌های آنلاین سوپرمارکتی را از فروشگاه‌های زنجیره‌ای معتبر و یا فروشگاه‌های منتخب شهرهای تهران،
                    کرج، اصفهان، قم و مشهد تامین می‌کند.
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="cities_section d-none">
        <div class="container">
            <div class="cities_container">
                <div class="cities_wrapper">
                    <div class="city">
                        <h3 class="name">تهران</h3>
                        <h3 class="english_name">Tehran</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">کرج</h3>
                        <h3 class="english_name">Karaj</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">مشهد</h3>
                        <h3 class="english_name">Mashhad</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">اصفهان</h3>
                        <h3 class="english_name">Isfahan</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">شیراز</h3>
                        <h3 class="english_name">Shiraz</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">ارومیه</h3>
                        <h3 class="english_name">Urmia</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">لاهیجان</h3>
                        <h3 class="english_name">Lahijan</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">رشت</h3>
                        <h3 class="english_name">Rasht</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">انزلی</h3>
                        <h3 class="english_name">Anzali</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">تبریز</h3>
                        <h3 class="english_name">Tabriz</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">ساری</h3>
                        <h3 class="english_name">Sari</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">یزد</h3>
                        <h3 class="english_name">Yazd</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">کرمان</h3>
                        <h3 class="english_name">Kerman</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">قم</h3>
                        <h3 class="english_name">Qom</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">اهواز</h3>
                        <h3 class="english_name">Ahvaz</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">بابل</h3>
                        <h3 class="english_name">Babol</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">قائم شهر</h3>
                        <h3 class="english_name">Qaem Shahr</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">آمل</h3>
                        <h3 class="english_name">Amol</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">کرمانشاه</h3>
                        <h3 class="english_name">Kermanshah</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">گرگان</h3>
                        <h3 class="english_name">Gorgan</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">قزوین</h3>
                        <h3 class="english_name">Qazvin</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">اراک</h3>
                        <h3 class="english_name">Arak</h3>
                    </div>
                    <div class="city">
                        <h3 class="name">نیشابور</h3>
                        <h3 class="english_name">Neyshabur</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <footer class="footer">
        <div class="footer_container">
            <div class="brand_container">
                <a href="">
                    <img src="../assets/images/images-1/tapsi-logo-white.svg" alt="" class="footer_logo">
                </a>
                <h3>اپلیکیشن درخواست خودرو و پیک</h3>
                <p class="cr">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
            </div>
            <div class="footer_column">
                <h6>تپسی</h6>
                <a href="" class="link">وبلاگ تپسی</a>
                <a href="" class="link">فرصت شغلی</a>
                <a href="" class="link">تماس با ما</a>
                <a href="" class="link">لوگو و هویت سازمانی</a>
                <a href="" class="link">معرفی راننده به تپسی</a>
            </div>
            <div class="footer_column">
                <h6>مسافران</h6>
                <a href="" class="link">دانلود اپ مسافر</a>
                <a href="" class="link">نسخه وب تپسی</a>
                <a href="" class="link">پرسش‌های متداول مسافران</a>
                <a href="" class="link">شرایط و قوانین مسافران</a>
                <a href="" class="link">باشگاه مشتریان</a>
            </div>
            <div class="footer_column">
                <h6>رانندگان</h6>
                <a href="" class="link">دانلود اپ سفیر</a>
                <a href="" class="link">ثبت نام راننده تاکسی اینترنتی</a>
                <a href="" class="link">پرسش‌های متداول سفیران</a>
                <a href="" class="link">شرایط و قوانین سفیران</a>
                <a href="" class="link">باشگاه سفیران</a>
            </div>
            <div class="footer_column">
                <h6>کسب و کارها</h6>
                <a href="" class="link">پنل سازمانی تپسی</a>
                <a href="" class="link">خرید کد اعتبار و تخفیف</a>
                <a href="" class="link">دریافت API</a>
            </div>
            <div class="trust">
                <div class="trust_logo">
                    <img src="../assets/images/images-1/etehadiye.png" alt="">
                </div>
                <div class="trust_logo">
                    <img src="../assets/images/images-1/samandehi.png" alt="">
                </div>
                <div class="trust_logo">
                    <img src="../assets/images/images-1/enamad.png" alt="">
                </div>
            </div>
        </div>
        <p class="cr_mobile">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
        <div class="social_medias">
            <h3>تپسی در شبکه‌های اجتماعی</h3>
            <div class="social_links">
                <a href="">
                    <img src="../assets/images/images-1/facebook.svg" alt="">
                </a>
                <a href="">
                    <img src="../assets/images/images-1/instagram.svg" alt="">
                </a>
                <a href="">
                    <img src="../assets/images/images-1/twitter.svg" alt="">
                </a>
                <a href="">
                    <img src="../assets/images/images-1/linkedin.svg" alt="" height="20px">
                </a>
                <a href="">
                    <img src="../assets/images/images-1/telegram.svg" alt="">
                </a>
            </div>
        </div>
    </footer>
    <main>
        <script src="../assets/js/main.js"></script>
    </main>
</body>

</html>